@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto";
}

.confirm-button-class {
  background-color: #0F0D20;
  padding: 10px 20px;
  color: white;
  outline: none;
  font-weight: bold;
  border: 0;
}

.title-class {
  font-weight: 500;
  color: black;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}

@layer components {
  .modal-full-bg {
    @apply bg-[#000] bg-opacity-75 top-0 bottom-0 right-0 left-0 absolute flex justify-center items-center 
  }
  .modal-bg-white{
    @apply bg-[#f5f5f5] flex flex-col rounded-lg h-[90vh] w-[85vw] xl:w-[50vw] p-4 sm:p-8 gap-2
  }
  .home-bg {
    @apply flex flex-col items-center gap-3 p-3 bg-custom-bg bg-cover bg-no-repeat bg-center min-h-[100vh]
  }
}